<p>Register a new animal below...</p>
<form action="/animals/" method="post">

  <div class="form-el">
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>
  <div class="form-el">
    <label for="type">Type:</label>
    <input type="text" name="type">
  </div>
  <div class="form-el">
    <label for="breed">Breed:</label>
    <input type="text" name="breed">
  </div>
  <div class="form-el">
    <label for="adoptable">Adoptable?:</label>
    <input type="text" name="adoptable">
  </div>
  <div class="form-el">
    <label for="admission_date">Admission Date:</label>
    <input type="text" name="admission_date">
  </div>

<!-- needs submit button here (& relevant POST route)-->
  <input type="submit" value="Submit form"/>

</form>
