<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Animal Shelter</title>
  <h1>Midlothian Cat & Dog Shelter</h1>
</head>

<body>
  <nav id="menu">
    <li class="menu-item"><a href='/'>Home</a></li>
    <li class="menu-item"><a href='/animals/'>Animal List</a></li>
    <li class="menu-item"><a href='/owners/'>Owner List</a></li>
    <li class="menu-item"><a href='/adoptions/'>Adoption List</a></li>
  </nav>
  <br>
  <hr>
  <%= yield %>
</body>

</html>
