<br>
<a href="/owners/new/">Register a new owner</a>
<br><br>
<!-- PROBABLY NO NEED FOR A TABLE FOR OWNERS......-->
<hr>

<h3>Current Owner list</h3>
<table>
  <tr>
    <th>Name</th>
    <th></th> <!--BLANK SPACE -->
    <th>Pet Wanted</th>
  </tr>

  <% for owner in @owners %>

  <tr>
    <td><%= owner.name %></td>
    <td>||</td>
    <td><%= owner.wanting %></td>
    <td>||</td>
    <td> <!-- EDIT button -->
      <form action="/owners/<%= owner.id %>/edit" method="get">
        <input type="submit" value="Edit"/>
      </form>
    </td>
    <td>/</td>
    <td> <!-- DELETE button -->
      <form action="/owners/<%= owner.id %>/delete" method="post">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  <% end %>
</table>
