<p>Owner index page</p>

<!-- PROBABLY NO NEED IN A TABLE FOR OWNERS......-->
<table>
  <tr>
    <th>Name</th>
    <th></th> <!--BLANK SPACE -->
    <th>Pet Wanted</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
    <td>||</td>
    <td><a><%= owner.wanting %></a></td>
    <td>||</td>
  </tr>
  <% end %>
</table>
