<!--FINISH THIS AND LINK PAGE ACCORDINGLY -->
<p>New Owners page</p>
<form action="/owners/" method="post">

  <div class="form-el">
    <label for="name">Name:</label>

    <input type="text" name="name" id="name"/>
  </div>

<!--THIS DOESN'T REGISTER PET!!!-->
  <div class="form-el">
    <label for="wanted">Pet Wanted:</label>

    <input type="text" name="wanted" id="wanted"/>
  </div>

  <input type="submit" value="Submit form"/>
</form>

<hr>
