<!--FINISH THIS AND LINK PAGE ACCORDINGLY -->
<p>Register a new owner below...</p>
<form action="/owners/" method="post">

  <div class="form-el">
    <label for="name">Name:</label>
    <input type="text" name="name"/>
  </div>

  <div class="form-el">
    <label for="wanting">Pet Wanted:</label>
    <input type="text" name="wanting"/>
  </div>

  <input type="submit" value="Submit form"/>
</form>

<hr>
